@{ 
    var Counter = 1;
}
<table class="table w-50 text-center">
    <thead>
        <tr>
            <th scope="col">کلمه عبور</th>
            <th scope="col">نام کاربری</th>
            <th scope="col">#</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <pass>
                        @item.password
                    </pass>
                </td>
                <td>@item.UserName</td>
                <th scope="row">@Counter</th>
            </tr>
            Counter += 1;
        }



    </tbody>
</table>