@model ContactProject.Models.Login


<img class="wave" src="img/wave.png">
<div class="container">
    <div class="img">
        <img src="img/bg.svg">
    </div>
    <div class="login-content">
        <form asp-controller="Home" asp-action="Login" method="post">
            <img src="img/avatar.svg">
            <h2 class="title">خوش آمدید</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>نام کاربری</h5>
                    <input type="text" class="input" asp-for="UserName">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>کلمه عبور</h5>
                    <input type="password" class="input" asp-for="password">
                </div>
            </div>
            <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
            <input type="submit" class="btn" value="ورود به حساب">
        </form>
    </div>
</div>