@model List<ContactProject.Models.Login>

@section styles{
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.rtl.min.css">
}

@{
    var Counter = 1;

    var isSuccess = TempData["isSuccess"];

    ViewData["Title"] = "لیست کاربران";
}

<div class="row justify-content-center">

    @if (isSuccess != null)
    {
        <div class="alert alert-success m-5">
            @foreach (var item in Model)
            {
                <h1>خوش آمدی <span>@item.UserName</span> جان !</h1>
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger m-5">
            <h1>نشناختیم شما؟</h1>
        </div>
    }

    <h1 class="fw-bold text-center mb-5 mt-5">لیست کاربران </h1>
    <table class="table w-50 text-center">
        <thead>
            <tr>
                <th scope="col">کلمه عبور</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">#</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <pass>
                            @item.password
                        </pass>
                    </td>
                    <td>@item.UserName</td>
                    <th scope="row">@Counter</th>
                </tr>
                Counter += 1;
            }



        </tbody>
    </table>
</div>

