<!DOCTYPE html>
<html lang="" dir="">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("styles",false)
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
