<!DOCTYPE html>
<html lang="" dir="">
<head>
    <title>@ViewData["Title"]</title>
    <partial name="_MetaLinks"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("styles",false)
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
